# Core dependencies
beautifulsoup4>=4.13,<5.0
jira>=3.8,<4.0
pandas>=2.2,<3.0
pydantic>=2.11,<3.0
pydantic-settings>=2.10,<3.0
python-dotenv>=1.1,<2.0
requests>=2.32,<3.0
lxml>=5.1,<6.0
urllib3>=2.0.0,<3.0
pathlib>=1.0,<2.0

# LLM dependencies
langchain-core>=0.3.72,<1.0.0
langchain-text-splitters==0.3.9
markdown>=3.8,<4.0
markdown-it-py>=3.0,<4.0
google-generativeai==0.7.2
google-ai-generativelanguage==0.6.6
langchain-google-genai==2.0.0
langchain-ollama>=0.3.6,<1.0
ollama>=0.5.1,<1.0
transformers>=4.38.2,<5.0
tokenizers>=0.15.2,<1.0

# Development dependencies
black>=25.1,<26.0
pytest>=8.1,<9.0
pytest-cov>=4.1,<5.0
